.box{
  width: max-content;
  position:absolute;
  
}

a:hover + .box,.box:hover{
  position:absolute;
  z-index: 1;
 
   
}

.iframe{
    border-style: groove;
    border-color: #bbb;
}

.iframe-button {
    display: none;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 16px;
    background-color: #f44336;
    color: white;
    border-style: groove;
    border-width:thin;
  }
  
  /* only show the button when the parent is hovered: */

  .box:hover .iframe-button {
    display: initial;
  }


  #checkboxes{
    position: absolute;
    width: max-content;
    padding: 35px 35px;
    text-align: center;
    background-color: #AFEEEE;
    top: 40px;
    left: 1500px;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: move;
  }

  #checkboxes ul {
    list-style: none;

  }

  #save-label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    
  }

#close {
  padding:2px 5px;
  background:#ccc;
  position: absolute;
  top:0;
  right:auto;
  left:0;
  cursor: pointer;
  border-style: groove;
  border-width:thin;
  font-family: Arial, Helvetica, sans-serif;
}

#close:hover {background: #bbb;}
